
.product-card {
  width: 100px;
}

.box{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.row > * {
  display: flex;
  flex-wrap: wrap;
}

.product-page {
  padding: 20px;
}