<div class="container">
    <section class='form'>

        <div class="form-group row">
            <div class="form-group col">
                <label for="name">Name</label>
                <input type="email" class="form-control" [formControl]="name" id="name" placeholder="Enter product name" required>
            </div>

            <div class="form-group col">
                <label for="price">Price</label>
                <input type="email" class="form-control" [formControl]="price" id="name" placeholder="Enter price">
            </div>

        </div>

        <div class="form-group row">

            <div class="form-group col">
                <label for="description">Description</label>
                <textarea class="form-control" [formControl]="description" id="description" rows="3"></textarea>
            </div>

            <div class="product-image col">
                <input type="file" class="custom-file-input" [formControl]="image" (change)="getBase64($event)" id="customFile">
                <label class="custom-file-label" for="image">Choose file</label>
            </div>

        </div>
        <button class="btn btn-primary" type="submit" (click)="addProduct()">ADD Product</button>
    <br>
    <br>

    </section>

    <section class='products'>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width:100%">
            <!-- Position Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let product">  
                    <button class='btn btn-danger' (click)="removeProduct(product)">Remove</button> 
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let product"> {{product.name.value}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let product"> {{product.price.value}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let product"> {{product.description.value}} </td>
            </ng-container>

            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let product">  <img [src]=product.image style="height:100px;width:100px"/> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

    </section>


</div>