<!-- Images cards -->
<div class="container">

<div  class="flex-container">
  <mat-card *ngFor="let product of Products">
    <img class="card-img-top" src="{{product.image}}" alt="Card image cap">
    <mat-card-content>
      <div class="name-price">
          <h2 class="card-name">{{product.name.value}}</h2>
          <h2 class="card-price">{{product.price.value}}</h2>
      </div>
      <p class="card-text">{{product.description.value}}</p>
    </mat-card-content>
  </mat-card>
</div>

</div>