.card-name {
    padding-top: 1.4em;
    padding-left: 1em;
    font-weight: 500;
    font-size: 1.4em;
}

.card-price {
    padding-top: 1.1em;
}

.card-body {
    font-weight: 450;
    margin-top: -2.3em;
}

.card {
    margin: 2em 2em 2em 8em;
}

